<?xml version="1.0"?>
<model>
  <name>azd_arucotag_bothome_4x4_1_018</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Chua Jun Yan</name>
    <email>chua.junyan0612@gmail.com</email>
  </author>
  <description>Aruco tag model 4x4_1_018</description>
</model>
